// colores de texto

$textcolorprimary: #0858f6;
$textcolorsecundary: #303030;
$textcolortertiary: #505050;
$textcolorquaternary: white;

// colores de bordes
$bordercolorprimary: #0858f6;
$bordercolorsecundary: #afdb54;
$bordercolortertiary: white;
$bordercolorquaternary:#aeaeae ;

//colores de fondos
$colorfondoprimary: #0858f6;
$colorfondosecundary: #f1f5f8;
$colorfondotertiary: white;
$colorfondoquaternary: #303030;
$colorfondocinco: #cccccc;

//colores de iconos
$iconcolorprimary: #afdb54;
$iconcolorsecundary: #0858f6;
$iconcolortertiary: #303030;
